<h1><%= pluralize(@recipes.size, "Receita", "Receitas") %></h1>


<% @recipes.each do |recipe| %>
  <article>
    <header>
      <h2><%= link_to recipe.name, recipe %></h2>
    </header>
    <p>
      <%= truncate(recipe.stuff, length: 15, separator: ' ') %>
    </p>
    <p>
      <%= format_calories(recipe) %>
    </p>
    <table>
      <tr>
        <th>Prepare mode:</th>
        <td><%= truncate(recipe.prepare_mode, length: 15, separator: ' ') %></td>
      </tr>
      <tr>
        <th>Custo do Prato: </th>
        <td><%= number_to_currency(recipe.cost) %></td>
      </tr>
    </table>
  </article>
<% end %>


